/server/server.exe
/local/local.exe
/server/node_modules
/server/npm
/server/npm.cmd
/server/node.exe
/local/npm
/local/npm.cmd
/local/node_modules
/local/node.exe
/node/node_modules
/local/post
/local/local
/server/put
/server/post
/local/*.sec
/local/*.pub
